################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyShift.Notifications/FileContentIndex/04be1388-2d97-49ac-8e0d-a103f245c33d.vsidx
